
.form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.article-edit .input textarea {
    font-size: 2rem;
    line-height: 2.6rem;
}

div.textarea {
    font-size: 2rem;
    line-height: 2.6rem;
    min-height: 50rem;
    background-color: antiquewhite;
}